
@media(min-width:992px) and (max-width:1199.98px){
  .header_menu_bar_menu ul li {
    padding: 30px 6px;
  }
  .header_menu_bar_menu ul li a {
    font-size: 12px;
  }
  .header_menu_bar_right h5 {
    font-size: 10px;
  }

}
@media(min-width:768px) and (max-width:991.98px){

}
@media(min-width:576px) and (max-width:767.98px){
  .header_menu_bar_menu ul li{
    display:block;
    padding: 10px 8px;
    position: relative;
    }
    .header_menu_bar_menu ul li .ul_2{
      background-color:#ffc0cb;
      position:relative;
      top:100%;
      left: 0px;
      border-radius: 0px 0px 4px 4px;
      display: none;
      width:100%;
  }
}

@media (max-width: 575.98px) {
    .header_menu_bar_menu ul li{
        display:block;
        padding: 10px 8px;
        position: relative;
        }
        .header_menu_bar_menu ul li .ul_2{
            background-color:#ffc0cb;
            position:relative;
            top:100%;
            left: 0px;
            border-radius: 0px 0px 4px 4px;
            display: none;
            width:100%;
        }
        .header_menu_bar_menu ul li .ul_2 .li_2{
            display: block;
            width:100%;
            padding: 8px 10px;
            transition: 0.7s; 
            }
            .welcome_to_our_apollo_header h1 {
                font-size: 1.5rem;
              }
              .welcome_to_our_apollo_header .btn {
                padding: 6px 24px;
              }
}