*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* commn_section_starrt */
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* commn_section_end */

:root{
    --color1:#1E1E22;
    --color2:#282C92;
}

/* menu_bar_section_start */
.header_menu_bar_section{
background-color: var(--color1);
}
.header_menu_bar_logo{

}
.header_menu_bar_menu{

}
.header_menu_bar_menu ul{
margin-bottom: 0px;
}
.header_menu_bar_menu ul li{
display:inline-block;
padding: 0px 8px;
}
.header_menu_bar_menu ul li a{
text-transform: capitalize;
color: white;
font-size: 16px;
}
.header_menu_bar_right{
text-align: center;
}
.header_menu_bar_right h5{
    font-size: 15px;
    color: white;
    font-weight: bold;
    background-color: var(--color2);
    padding: 12px 12px;
    border-radius:40px;
}
/* menu_bar_section_end */