*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/* commn_section_starrt */
ul,ol{
    list-style: none;
}
a{
    text-decoration: none;
}
/* commn_section_end */

:root{
    --color1:#1E1E22;
    --color2:#282C92;
    --color3:#E4E4E5;
}

/* menu_bar_section_start */
.header_menu_bar_section{
background-color: var(--color1);

}
.header_menu_bar_logo{
 text-align: center;
}
.header_menu_bar_menu{
    
}
.header_menu_bar_menu ul{
margin-bottom: 0px;

}
.header_menu_bar_menu ul li{
display:inline-block;
padding: 30px 8px;
position: relative;
}
.header_menu_bar_menu ul li a {
    text-transform: capitalize;
    color: #E4E4E5;
    font-size: 13px;
  }
/* drop_drown_menu_start */
.header_menu_bar_menu ul li .ul_2{
background-color:pink;
padding-left: 0px;
position: absolute;
top:100%;
left: 0px;
border-radius: 0px 0px 4px 4px;
display: none;
z-index: 100;
}
.header_menu_bar_menu ul li .ul_2 .li_2{
display: block;
width:200px;
padding: 8px 10px;
transition: 0.7s;

}
.header_menu_bar_menu ul li:hover .ul_2{
    display:block;
    overflow: hidden;
}
.header_menu_bar_menu .ul_2 .li_2:hover{
    background-color: var(--color2);
    }

.header_menu_bar_menu .ul_2 .li_2 a{
color: white;
font-size: 17px;
}
/* drop_drown_menu_end */
/* menu_bar_end */
.header_menu_bar_right{
text-align: center;
}
 .header_menu_bar_right h5 {
        font-size: 12px;
        color: white;
        font-weight: bold;
        background-color: var(--color2);
        padding: 18px 0px;
        border-radius: 40px;
     }

.header_menu_bar_right h5:hover{
    color:var(--color3)
}
/* menu_bar_section_end */
/* carousel_section_start */
.carousel_section_start{
    background-color: var(--color1);
}
.carousel_item_one{
    position: relative;
  
}
.welcome_to_our_apollo_header{
    color: white;
    position: absolute;
    top:10%;
    left:4%;
}
.opacity_for_img{
    opacity: 0.6;
    background-color: #1E1E22;
}
.welcome_to_our_apollo_header h5{
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
}
.welcome_to_our_apollo_header h1{
    font-size:3.5rem;
}
.welcome_to_our_apollo_header .btn{
    color: white;
background-color: var(--color2);
font-weight: bold;
padding: 14px 24px;
border-radius: 25px;
}
/* carousel_section_end */
/* Occupation_Search_start */
.Occupation_Search_start{
    background-color: #F9F9F9;
}
.Occupation_Search_section{
    text-align: center;
}
.Occupation_Search_section h3{
    font-weight: bold;
    color: var(--color2);
}
.Occupation_Search_section .btn{
    background-color: var(--color2);
    color: white;
    border-radius: 20px;
}
/* Occupation_Search_end */
/* We_thrive_because_section_start */
.We_thrive_because_section{
background-color: #F9F9F9;
}
.We_thrive_because_section_left{

}
.we_thrive_img{
border-radius: 50%;
}
/* left_end */
.We_thrive_because_right_section{

}
.We_thrive_because_right_section h5{
    font-size: 18px;
    color:#9F7178;
    font-weight:bold;
}
.We_thrive_because_right_section h5::before{
    content: "";
    background: url("../img/thirft_1.png") no-repeat;
    background-size: contain;
    height: 25px;
    width: 25px;
    display:inline-block;
    margin-right: 10px;
}
.We_thrive_because_right_section h1{
    font-weight: bold;
}
.We_thrive_because_right_section h4{
    font-size:20px;
    color: #717178;
    font-weight: 700;
}
.We_thrive_because_right_section p{
    font-size: 20px;
    color: #7A7E85;
}
/* We_thrive_because_section_end */
/* student_global_office_section_start */
.student_global_office_section{
    background-color: #F9F9F9; 
}
.student_global_office_mid{
    background-color: white;
    border: 1px solid #F1F1F5;
    box-shadow: 0px 0px 6px 1px plum;
    border-radius: 10px;
}
.counter-box {
	display: block;
	/* background: #f6f6f6; */
	padding: 40px 20px 37px;
	text-align: center;
    border-right: 1px solid plum;
}
.counter-box .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 2em;
    overflow: visible;
    vertical-align: -0.125em;
    margin-bottom: 10px;
}

.counter-box p {
	margin: 5px 0 0;
	padding: 0;
	color: #909090;
	font-size: 18px;
	font-weight: 500
}

.counter-box i {
	font-size: 60px;
	margin: 0 0 15px;
	color: #d2d2d2
}

.counter { 
	display: block;
	font-size: 32px;
	font-weight: 700;
	color:#282C92;
	line-height: 28px
}

.counter-box.colored {
      background:white;
}

.counter-box.colored p {
	color:#74747B;
}
/* student_global_office_section_end */
/* .Frequently_asked_question_section_start */
.Frequently_asked_question_section{
    background-color: #F1F1F5;
}
.Frequently_asked_question_left{

}
.Frequently_asked_question_left_faq{
    background-color: white;
}
.f_asked_question_accordian_details p{
    font-size: 18px;
    color: #88718E;
    text-align: justify;
}
/* left_end */
.Frequently_asked_question_right{

}
/* Frequently_asked_question_section_end */
/* What_our_clients_section_start */
.What_our_clients_section_start{
    background-color:white;
}
.What_our_clients_section_one{
    border: 1px solid #e4e4ea;
    border-radius: 10px;
}
/* What_our_clients_section_end */
/* How_Apollo_section_start */
.How_apollo_section_start{

}
.How_apollo_section_details_start{

}
.How_apollo_section_details_one{
  overflow: hidden;
  border-radius: 10px;
}
.How_apollo_section_details_one:hover img{
  transform: scale(1.1);
  transition: 0.7s;
}
.How_apollo_section_details_one_img{
    position: relative;
}
.How_apollo_section_details_one_img::before{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: "";
    background-color: rgba(var(--moniz-black-rgb,30,30,34),.3);
    border-radius: var(--moniz-border-radius,10px);
}
.How_apollo_section_details_one .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 1.4em;
    overflow: visible;
    vertical-align: -0.125em;
    background-color:white;
    padding: 15px 15px;
    border-radius: 50%;
    color: black;
}
.How_apollo_section_details_one_btn{
    position: absolute;
    top: 8%;
    right: 10%;
}
.How_apollo_section_details_one_para{
background-color: black;
color: white;
position: absolute;
left:0%;
right:0%;
bottom:8%;
}
.How_apollo_section_details_one_para h5{
    margin-bottom: 0px;
    font-size: 20px;
    font-weight: 700;
    color: var(--moniz-base,#fff);
    padding-left:15px;
}
/* How_Apollo_section_end */
/* our_value_partner_section_starrt */
.our_value_partner_section_starrt{
background-color: #F1F1F5;
}
.Our_Valued_Partners_slider{

}
.Our_Valued_Partners_slider_one{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}
.our_value_partner_btn{
    text-align: center;
}
.our_value_partner_btn .btn{
    text-transform: capitalize;
    background-color: #282C92;
    padding: 10px 30px;
    color: white;
    font-weight:bold;
    border-radius: 30px;
}
/* our_value_partner_section_end */
/* Current_Scholarships_section_start */
.Current_Scholarships_section{
background-color: white;
}
.Current_Scholarships_slider{

}
.Current_Scholarships_slider_one{
    border-radius: 10px;
    overflow: hidden;
}
.Current_Scholarships_title{

}
.Current_Scholarships_title h1{
    margin: 0;
    font-weight: 700;
    color: var(--moniz-black,#1e1e22);
    font-size: 38px;
    line-height: 48px;
}
/* Current_Scholarships_section_end */
/* footer_section_start */
.footer_section_start{
    background-image: url("../img/site-footer-bg.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.footer_section_start::before{
    position: absolute;
    content: "";
    left: 0%;
    top: 0%;
    width: 100%;
    height: 100%;
    background-color:#091079;
    opacity: 0.8;
    /* z-index: 2; */
}
.txt{
    position: relative;
    z-index: 3;
}
.footer_section_one{

}
.footer_section_one_logo{

}
.footer_section_one_para{
 text-align: justify;

}
.footer_section_one_para p{
    font-size: 15px;
    color: #d4d4d4;
    line-height: 24px;

}
.footer_section_one_para_icon{

}
.footer_section_one_para_icon .svg-inline--fa {
    display: var(--fa-display,inline-block);
    height: 2em;
    overflow: visible;
    vertical-align: -0.125em;
    background: yellow;
    padding: 8px;
    border-radius: 4px;
}

/* one-end */
.footer_section_two{

}
.footer_section_two_title{

}
.footer_section_two_title h5{
    font-size: 18px;
    color: var(--moniz-base,#fff);
    font-weight: 700;
    line-height: 28px;
    margin-bottom:20px;
}
.footer_section_two_menu{

}
.footer_section_two_menu ul{
padding-left: 0px;
}
.footer_section_two_menu ul li {

}
.footer_section_two_menu ul li a{
    color: #d4d4d4;
    font-size: 18px;
    font-weight: 500;
}
.footer_section_four{
    background-color: #121796;
    border-radius: 10px;
}
.footer_section_four label{
    color: white;
    font-weight:bold;
    font-size: 20px;
    padding-bottom: 12px;
}

/* . copy_right-section_start  */
.copy_right_section{
background-color: #121796;
text-align: center;
}
.copy_right_section_title{
 
}
.copy_right_section_title ul{

}
.copy_right_section_title ul li{
display: inline-block;
}
.copy_right_section_title ul li a{

    color: white;
    font-family: "Poppins", Sans-serif;
    font-weight:600;
    font-size:18px;
    margin-bottom: 0px;
}
.copy_right_section_title-small{

}
.copy_right_section_title-small p{
    color: #ffffff6e;
    margin-bottom: 0px;
}
/* copy_right-section_end */
/* footer_section_end */

/* about_us_slider_section_page_start */
.about_us_p_slider{
    height: 300px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("../img/About-us2.jpg");
    position: relative;
    overflow: hidden;
}
.about_us_p_slider::before{
    position: absolute;
    content: "";
    top:0%;
    left:0%;
    width: 100%;
    height: 100%;
    background: rgba(var(--moniz-black-rgb,30,30,34),.5);
    z-index: 1;
}
.about_us_p_slider_main{
    text-align: center;
    position: relative;
    z-index: 3;
}
.about_us_p_slider_main p{
text-transform: uppercase;
color: white;
margin-bottom: 0px;
padding-top: 150px;
}
.about_us_p_slider_main h1{
text-transform: capitalize;
font-size: 60px;
color: white;
}
/* about_us_slider-section_page_end */
/* about_p_Empowering_section_start */
.about_p_Empowering_section{
background-color: white;
}
.about_p_Empowering_img{

}
.about_p_Empowering_img h5{
    color: #717178;
}
.about_p_Empowering_right{

}
.about_p_Empowering_right p{
    font-size: 18px;
    color: #9F718E;
    font-weight: 400;
    opacity: 0.9;
    text-align: justify;
}
/* about_p_Empowering_section_end */
/* .A_Our_Valued_Partners_start */
.A_Our_Valued_Partners_start{
background-color: #F1F1F5;
}
.A_Our_Valued_Partners_title{

}
.A_Our_Valued_Partners_title h1{
    font-size: 50px;
    font-weight: bold;
}
.Valued_Australia{

}
.Valued_Australia h1{
    font-weight: bold;
}
.Valued_Australia_details{

}
.Valued_Australia_details_one{
    background-color: white;
    border-radius: 10px;
    overflow: hidden;
}